<div class='mt-4'>
    <form >
        <div class='form-group'>
            <label for='gender-input'>từ khóa</label>
            <select type='text' name='gender' class='form-control' id='gender-input'>
                <option value=''>Thông tin</option>
                <option value='name'>{{person.name}}</option>
                <option value='age'>{{person.age}}</option>
                <option value='gender'>{{person.gender}}</option>
            </select>
        </div>
        <button type='submit' class='btn btn-primary'>Search</button>
    </form>
</div>