h1 {
  color: red; }

h2 {
  color: black; }

h3 {
  background-color: aqua; }

.tets {
  color: aqua; }

.card-item {
  height: auto;
  margin-top: 16px; }

.user_avartar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4p; }
