<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class="container">
    <a class='navbar-brand' href='/'>F8 education</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item active'>
          <a class='nav-link' href='/'>Home
            <span class='sr-only'>(current)</span></a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/news'>news</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="/img/avatar.jpg" alt="alt" class="user_avartar">
            Long Béo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">đăng khóa học</a>
            <a class="dropdown-item" href="/person/create">Đăng ký</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">danh sách khóa học</a>
            <a class="dropdown-item" href="/me/stored/person">danh user</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">đăng suất</a>
            <a class="dropdown-item" href="/auth/login">đăng nhập</a>
          </div>
        </li>
      </ul>

    </div>
  </div>

</nav>